name: run-windows-matrix

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, windows-2025]
        # node: ['22.x', 'lts/*']
      fail-fast: false
    steps:
    - shell: pwsh
      continue-on-error: true
      run: dir "C:\Program Files (x86)\Windows Kits\10\Debuggers"
    - shell: pwsh
      continue-on-error: true
      run: |
        $installerEntry = Get-ItemProperty HKLM:\Software\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\* `
          | ?{$_.DisplayName -match "software development kit"} `
          | Sort-Object DisplayVersion -Descending | select -First 1
        $bundleCachePath = $installerEntry.BundleCachePath
        $process = Start-Process -FilePath $bundleCachePath -ArgumentList ('/features', 'OptionId.WindowsDesktopDebuggers', '/q') -Wait -PassThru
        $exitCode = $process.ExitCode
        if ($exitCode -eq 0) {
            Write-Host "Installation successful"
        }
    - shell: pwsh
      continue-on-error: true
      run: |
        dir "C:\Program Files (x86)\Windows Kits\10\Debuggers"
        which cdb
    # - shell: bash
    #   run: |
    #     node --version
    #     which node
    #     npm --version
    #     which npm
    #     npx --version
    #     which npx
    #     rm -rf /c/hostedtoolcache/windows/node/24.10.0
    # - uses: actions/setup-node@v4
    #   with:
    #     node-version: ${{ matrix.node }}
    # - shell: pwsh
    #   run: |
    #     node --version
    #     which node
    #     npm --version
    #     which npm
    #     npx --version
    #     which npx
    #     npx semantic-release
    # - shell: pwsh
    #   if: always()
    #   run: |
    #     dir C:\npm\cache\_logs\
    #     $logs = dir C:\npm\cache\_logs\
    #     foreach($log in $logs){
    #       write-host "===="
    #       cat $log.FullName
    #     }
    
    # - run: |
    #     & "$env:ProgramFiles\Microsoft SQL Server\170\DAC\bin\sqlpackage.exe" /version
    # - if: always()
    #   shell: pwsh
    #   run: |
    #     ssh -V
    #     ssh-keyscan github.com
    # - if: always()
    #   shell: bash
    #   run: |
    #     ssh -V
    #     ssh-keyscan github.com
    # - if: always()
    #   shell: pwsh
    #   run: |
    #     & 'C:\Program Files\Git\usr\bin\ssh-keyscan.exe' github.com
        
    # - run: |
    #     if (Get-Command docker -ErrorAction SilentlyContinue) {
    #         $dockerVersion = docker --version
    #         if ($dockerVersion) {
    #             Write-Output "Docker is installed. Version: $dockerVersion"
    #         } else {
    #             Write-Output "Docker is installed but the version could not be retrieved."
    #         }
    #     } else {
    #         Write-Output "Docker is not installed."
    #     }

    # - run: |
    #     $Version = Get-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion"
    #     Write-Host "Version $($Version.ReleaseId) (OS Build $ $($Version.CurrentMajorVersionNumber).$($Version.CurrentMinorVersionNumber).$($Version.CurrentBuildNumber).$($Version.UBR))"
        
    #     docker run -i --rm mcr.microsoft.com/windows/servercore:ltsc2025 cmd /c ver
    # - run: |
    #     get-process
    #     dir C:\WindowsAzure\ -recurse
    #   name: 'View WindowsAzure folders 1'
    
    # - run: |
    #     get-process
    #     dir C:\Packages\ -recurse
    #   name: 'View Packages folders 1'

    # - run: start-sleep 600

    # - run: |
    #     get-process
    #     dir C:\WindowsAzure\ -recurse
    #   name: 'View WindowsAzure folders 2'
    
    # - run: |
    #     get-process
    #     dir C:\Packages\ -recurse
    #   name: 'View Packages folders 2'
      
      # - run: get-childitem c:\post-generation

      # - run: |
      #     Write-Host "Warmup devenv.exe"
      #     $vsInstallRoot = (Get-VisualStudioInstance).InstallationPath
      #     $devEnvPath = "$vsInstallRoot\Common7\IDE\devenv.exe"
      #     Write-Host "Initialize Visual Studio Experimental Instance"
      #     & "$devEnvPath" /RootSuffix Exp /ResetSettings General.vssettings /Command File.Exit | Out-Null
      #     Write-Host "Initialized"
      #     Write-Host "Start Run /updateconfiguration"
      #     cmd.exe /c "`"$devEnvPath`" /updateconfiguration"
      #     Write-Host "/updateconfiguration completed"
      #     Write-Host "warm up test project"
      #     $warmup_vdproj = $(Join-Path "C:\post-generation" "warmup.vdproj")
      #     & "$devEnvPath" $warmup_vdproj /build Release | Out-Null
      #     Write-Host "warm up completed"

      # - name: test wmic
      #   run: wmic context
      #   if: always()

      # - name: install wmic
      #   run: |
      #     if ($env:ImageOS -eq 'win25') {
      #       DISM /Online /Add-Capability /CapabilityName:WMIC~~~~
      #     }
      #   if: always()

      # - name: test wmic
      #   run: wmic context
      #   if: always()
      # - name: Run pwsh
      #   run: |
      #     Get-Content "$env:USERPROFILE/.docker/config.json"
      #     docker
      #   shell: pwsh
      # - name: append env
      #   shell: pwsh
      #   run: |
      #     $env:PATH
      #     "c:\temp" | Out-File -FilePath "$env:GITHUB_PATH" -Append
      #     "show env:PATH"
      #     $env:PATH
      #     "show GHPATH"
      #     $env:GITHUB_PATH
      # - name: show PATH
      #   shell: pwsh
      #   run: |
      #     "show env:PATH"
      #     $env:PATH
      #     "show GHPATH"
      #     $env:GITHUB_PATH
          
