# https://github.com/actions/runner-images/issues/13544
name: troubleshoot-13544

on:
    workflow_dispatch:
    # push:
    #     branches: [ main ]
    #     tags: [ 'v[0-9]+.[0-9]+.[0-9]+*' ]

jobs:
    unit-tests:
        name: "Unit tests"
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
        runs-on: ${{ matrix.os }}
        steps:
            -   uses: actions/checkout@v6
                with:
                    repository: 'aweXpect/Mockolate'
                    fetch-depth: 0
            -   name: Setup .NET SDKs
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: |
                        8.0.x
                        10.0.x
            -   name: Run unit tests (windows)
                if: matrix.os == 'windows-latest'
                run: ./build.ps1 CodeCoverage
            -   name: Run unit tests (ubuntu|macos)
                if: matrix.os != 'windows-latest'
                run: ./build.sh CodeCoverage
            # -   name: Upload artifacts
            #     if: always()
            #     uses: actions/upload-artifact@v6
            #     with:
            #         name: ${{ runner.os }}-artifacts
            #         path: |
            #             ./Artifacts/*
            #             ./TestResults/*.trx
